.div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: column nowrap;

	box-sizing: border-box;

	/* background: black; */
	color: white;

	padding: 30px;
	margin: 100px;
	height: 600px;

	/* this makes it look like into a card */
	box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
}

.div__box {
	flex: 0 0 100px;

	background-color: rgb(43, 43, 255);
	padding: 20px;
	margin: 10px;
	width: 20%;

	box-shadow: -10px -10px 3px 5px rgba(0, 0, 0, 0.5);
}

.div__box2 {
	flex: 0 1 12%;

	background-color: rgb(0, 199, 0);
	padding: 20px;
	margin: 10px;
	width: 15%;

	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

.div__box3 {
	background-color: rgb(214, 0, 150);
	padding: 20px;
	margin: 10px;
	width: 10%;

	box-shadow: 0 20px 10px 0px rgba(0, 0, 0, 0.5);
}

.div__box4 {
	background-color: rgb(213, 223, 124);
	padding: 20px;
	margin: 10px;
	width: 30%;

	box-shadow: 10px 0 10px 0px rgba(0, 0, 0, 0.5);
}
